.create{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    font-size: 20px;
    font-family: "Franklin Gothic Book", sans-serif;
}
.create-container {
    max-width: 1180px;
    margin: 0px auto;

    background: #F9F9F9;
    height: 100%;
}
.create-body{
    padding: 20px;
}
.create-body input,#text, .btnFrom, select {
    margin: 1em 0;
    border: 3px solid #f1f1f1;
    width: 100%;
    text-align: center;
    max-width: 100%;
    padding: 5px;
    font-size: 18px;
    font-family: "Franklin Gothic Book", sans-serif;
}

#text{
    height: 400px;
}
@media (max-width: 938px) {
    .create{
        width: 100%;
        height: 100%;
        margin-top: 60px;
        font-size: 20px;
        font-family: "Franklin Gothic Book", sans-serif;
    }
}