.full-content{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    font-size: 20px;
    font-family: "Franklin Gothic Book", sans-serif;
}
.container-article {
    max-width: 1180px;
    margin: 0px auto;
    padding: 2em 6em;
    background: #F9F9F9;
    height: 100%;
}
.container-article img{
    width: 100%;
    margin: 20px 0;
}
.text {
    margin-top: 1rem;
    white-space: pre-wrap;
}
@media (max-width: 815px) {
    .full-content{
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
    .container-article {
        max-width: 1180px;
        margin: 0px auto;
        padding: 2em;
        background: #F9F9F9;
        height: 100%;
    }
}