*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

body {
    height: 100%;
}
body.lock{
    overflow: hidden;
}
li {
    list-style: none;
}

.wrapper {
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 20px;
    /*background-color: #FBAB7E;*/
    /*background-image: url("https://www.jing.fm/clipimg/full/242-2428543_jane-gebhart-.png"),linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);*/
    background-color: #FFFACD;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 10px;
}

/*-----------------------------------------------HEAD--------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #F2CD5C;
    font-size: 18px;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
}

.header-body {
    position: relative;

    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/*---------------------*/
.logo {
    z-index: 3;
    font-size: 30px;
    font-family: "Special Elite";
}


.first-text {
    background: #BE2400;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 0 2px;
}

.second-text {
    -webkit-text-stroke: 1px black;
    color: black;
}

/*----------------*/

.head-list {
    display: flex;
    z-index: 2;
    position: relative;
}

.head-list li {
    list-style: none;
    margin-left: 1em;
}

.list {
    color: black;
}

.list:hover {
    color: #BE2400;
}

/*---------------------*/
.head-search {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.head-search input {
    width: 100%;
    height: 30px;
    padding-left: 10px;

    border-radius: 5px;
    outline: none;
    background: #F2AF5C;
    color: black;
}

.head-search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background: #BE2400;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.head-search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

/*---------------------*/
.burger {
    display: none;
}

.burger.active span {
    transform: scale(0);

}

.burger.active:before {
    transform: rotate(45rad);
    top: 9px;
}

.burger.active:after {
    transform: rotate(-45rad);
    bottom: 9px;
}

/*---------------------*/
@media (max-width: 1024px) {
    .head-list li {
        list-style: none;
        margin-left: 0.5em;
    }
}
@media (max-width: 938px) {
    body.active {
        overflow: hidden;
    }

    .logo {
        font-size: 26px;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: #BE2400;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger :before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger span {
        background-color: #BE2400;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-body {
        height: 60px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F9F9F9;
        padding-top: 80px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .head-menu.active {
        top: 0;
    }

    .head-list {
        display: block;
    }

    .head-list li {
        margin: 0 0 20px 0;
    }

    .head-search {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}

/*--------------------------------------CONTENT----------------------------------------*/
.content {
    margin-top: 80px;

}

.content-body {
    margin: 10px 0;

    height: 100%;
    display: flex;
}

.article {
    background: white;
    margin-top: 10px;
    padding: 10px 5px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
}

.article-content {
    display: flex;
}

.article-date {
    margin: 5px 0 0 0;
}
.article-after-date {
    display: flex;
    position: relative;
}
.article-btn{
    display: flex;
    position: absolute;
    right: 5px;
}
.article-btn svg {
    margin: 5px;
}
.view {
    margin: 5px 0;
}

.article-img {
    width: 20%;
}

.article-img img {
    width: 100%;
}

.article-content-text {
    margin-left: 1em;
    width: 80%;
    position: relative;
}

.article-title {
    padding-bottom: 10px;
}

.article-text {
    position: relative;
}

.article-person {

    margin-top: 20px;
    left: 0;
}

.article-person hr {
    border: 2px solid #0C2B6C;
    width: 20%;
}

.article-title:hover {
    color: #BE2400;
}

.article-person :hover {
    color: #BE2400;
}

@media (max-width: 768px) {
    .content {
        font-size: 18px;
        margin-top: 65px;
    }

    .article-content {
        display: flex;
        flex-wrap: wrap;
    }

    .article-img {
        width: 100%;
        margin: 0 0.5em;
    }

    .view {
        margin: 5px 0.5em;
    }

    .article-date {
        margin: 0 0.5em;
    }

    .article-content-text {
        width: 100%;
        margin: 0 0.5em;
    }
}

/*-----------------------------------------------ФУТЕР*/
.footer {
    background: #8C58D1;
    align-items: center;
    flex: 0 0 auto;
    color: white;
}
.footer-body {
    margin: 1em 0;
}
.rules {
    font-size: 18px;
width: 100%;
    text-align: center;
}

/*----------------------------------------Вспливающе окно*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;

}
.popup.open .popup-content{
    transform: perspective(600px) translate(0px, 0%) rotate(0deg);
    opacity: 1;
}

.popup-body{
min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

       }
.popup-content{
    background-color: white;
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.popup-close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.popup-text input{
    border: 1px solid black;
    padding: 5px;
    display: block;

    margin: 10px auto;
}
.submit{
    margin: 0 auto;
}
/*--------------------------------------------------------------щечик сторінок*/
.numberOfPage{
    margin-bottom: 10px;
}

.numPage{
    display: flex;
    justify-content: center;
}
.num a{
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    background: #49CBBF;
    color: white;
}